<div class="row" id="upload-field">
    <div class="col-md-4">
        <span class="btn btn-success fileinput-button">
            <span>Upload</span>
            <input type="file" id="file-navigator">
        </span>
    </div>
    <div class="col-md-8">
        <div class="progress">
            <div id="progress-bar" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width: 0%;"></div>
        </div>
    </div>
</div>
<div class="row" id="video-container">
    <div class="embed-responsive embed-responsive-16by9">
        
    </div>
</div>
